<div class="mdc-drawer__header @Class" @attributes="@ExtraAttributes">
    @if (ChildContent is null)
    {
        @if (ImageSource?.ToLowerInvariant() != "none")
        {
            <AppDrawerHeaderImage ImageSource="@ImageSource" ImageWidth="@ImageWidth" ImageHeight="@ImageHeight" />
        }
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <AppDrawerHeaderTitle>@Title</AppDrawerHeaderTitle>
        }
        @if (!string.IsNullOrWhiteSpace(Subtitle))
        {
            <AppDrawerHeaderSubtitle>@Subtitle</AppDrawerHeaderSubtitle>
        }
    }
    else
    {
        @ChildContent
    }
</div>